.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    overflow-y: scroll; /*vertical scrolling */
  }
  
  /* Hide scrollbar */
  .grid-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar */
  .grid-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid-item img {
    width: 100%;
    aspect-ratio: 2 / 3;
  }
  
  .grid-item p {
    text-align: center;
  }
  
